@model IEnumerable<Laihopquang876.Models.LHQ0876>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                TÊN SINH VIÊN
            </th>
            <th>
                MÃ SINH VIÊN 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LHQName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LHQGendeR)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LHQid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LHQid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LHQid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
